@charset "UTF-8";


/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {

    i#burguer {
        display: block;
        background-color: ;
       
    }

    menu {
            display: block;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.171);
         
     
    }

    menu > ul > li > a{
        display: inline-block;
        color: white;
   padding: 5px;
   margin: 5px;
       
    }

    main {
        width: 768px;
    }
    


    @media screen and (min-width: 992px) {

        i#burguer {
            display: block;
          
           
          
        }
                       
         
          #nome h1  {
            font-size: 5em;
        }
        section.normal{
            font-size: 1.7em;
        }
        p  {
            font-size:1.5em;
        }
        section.avançado h2 {
            font-size: 3em;
            padding: 25px;
        }
        section.imagem{
            padding:90px ;
        }
        
     
        section#img01 {
            font-size: 1.6em;
        }
        section#img02{
            font-size: 1.6em;
           
           
        }
    
        div.logo, img {
           max-width:70px;
        }
      
                
        body {
            width: 100vw; 
          margin: 15px;
         }
         
      