
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Ms+Madi&family=Satisfy&display=swap');

:root {
    ---font-1: 'Dancing Script',  cursive;
    ---font-2: Arial, helvetica, sans-serif;
 
   ---cor1: #6ddb9e;
   ---cor2: #BFBA73;
   ---cor3: #D9CC8B;
   ---cor4: ;
   ---cor5: #260906;
   ---cor6: rgb(19, 90, 86);
   ---cor7: rgb(87, 227, 227);
}
* {
    margin: 0px;
    padding: 0px;
    font-style: italic;
}
body, main {
    margin: auto;
   
}

div#burguer {
    display: block;
    text-align: justify;
    cursor: pointer;
    border-radius: 20px 0px;
    margin:20px;
    font-size: 1.4em;
    margin-bottom: 5px;
 
   

}

div#burguer:hover {
    background-color:lightgray;
 }


menu {
    display: none;
    
}
menu#itens > ul > li > a {
    display: block;
    margin-left: 30px;
    padding: 5px;
    text-decoration: none;
    color: black ;
    background-color: white;
    border-radius: 0px 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.185);
    width: 90px;
}
menu#itens > ul > li > a:hover{
    background-color: lightgray;
     font-style: normal;
} 

  #nome h1 {
    margin-top: 10px;
    font-family: var(---font-1);
    font-style: italic;
    text-align:center;
    font-size: 2.4em;
    color:white;
 
    text-shadow: 3px 3px 7px  rgba(0, 0, 0, 0.897);
}

h2{
    padding: 10px;
    font-family: var(---font-1);
    font-size: 2em;
    }

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10vh;
    font-family: var(--fonte2);
    font-style: italic;
    font-size: 1em;
}
section.normal li {
list-style: none;
Padding:5px


}

section.normal  {
    font-family: var(---font-2);
    font-size:1em;
    padding:5px;
    margin: 5px;
     
 }
id.intermediario {
    text-align: center;

 }
 section.avançado {
   font-family: var(---font-2);
   font-style: italic;
   
    padding:10px;
    margin: 5px;
    text-align: center;
     
 }
 section.avançado h2 {
    text-align: center;
    font-family: var(---font-1);
    font-weight: italic;
    font-size:2em;
 }
 id.intermediario p {  
    padding: 10px;
    margin-bottom: 10px;
    text-align:  center;
  }
section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.699);
    
    background-size: cover;
    background-attachment: fixed;
    padding: 30px;
}

section.imagem > p {
    display: inline-block;
    font-size:1em;
    text-shadow: 1px 1px 0px rgb(58, 57, 57);
    background-color: rgba(0, 0, 0, 0.582);
    text-align:center;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
section#img01 {
    background-image: url('../estilos/imagem/245612834_2054895207997999_6264319499902124732_n.jpg');
    background-repeat: no-repeat;
    background-position: center center;

}
section#img02 > p {
 background-color: rgba(255, 255, 255, 0.034);
 padding:5px;
 font-size:1em;

}
section#img02 {
    background-image: url('imagem/2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
     text-align: center;
 
}
div.logo, img {
  display: inline-block;
  max-width: 25px;
  padding:10px;
  position: absolute; 
 
}
div.logo, img {
    display: inline-block;
    width: 10vw;
    position: relative;
   
}
div.logoum, img {
    text-align: center;
}



 